<div class="astro_content_message">
  <img
    src="https://de-digital-fortress-img-assets.eco.astro.com.my/prod/d0119490d7add2dc553f223a3ebe762d.svg"
    width="16"
    height="16"
    alt="warning-logo"
  />
  <span class="astro_content_message_text">{{ message }}</span>
</div>