<div class="sa-fixture-matchwidget">
  {# @todo: sponsorconfig  #}

  {# widget content #}
  <div class="sa-fixture-matchwidget_content">
    {% embed "astro_radix:title-wrapper" with {
      title: 'Upcoming Matches',
      showBottomLink: true,
      bottomLinkProps: {
        text: 'See More'
      }
    }%}
      {% block title_content %}
        <div class="sa-fixture-matchwidget_fixtureContainer">
          {% include "astro_radix:fixtures" with {} %}

          {# {% include "astro_radix:empty-content" with {
            message: 'No Upcoming Match'
          } %} #}
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</div>